/* Main Page Search bar */
#home-search{
	color: white;
	font-family: 'Abel', sans-serif;
	font-size: 22px;
	width: 40%;
	display: inline-block;
	padding: 2px;
	vertical-align: middle;
	align-items: center;
	background: #69796c;
	border: solid white 3px;
	border-radius: 4px;
	padding: 10px;
}
input::placeholder {
	color: white !important;
	padding: 15px;
	background: #69796c;
	text-align: center;
}
/* Main Page sizes */
body, p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Search Button */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.actions li {
	display: inline-block;
	padding: 0 1em 0 0;
	vertical-align: middle;
}
/* body text align */
.inner {
	margin: 0 auto;
	max-width: 65em;
}
/* Banner Text over main fishing pic */
body, input,  textarea {
	font-family: 'Abel', sans-serif;
}
.maintext {
	font-family: 'Abel', sans-serif;
	color: white;
	font-size: 42px;
	text-shadow: 1px 1px #69796c;
}
/* Walleye pic main page */
.image.fit img {
	width: 100%; 
    height: 100%;
}
/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	background-color: white;
	border-radius: 4px;
	color: #69796c;
	cursor: pointer;
	font-size:20px;
	display: inline-block;
	font-family: 'Abel', sans-serif;
	font-weight: bold;
	padding: 14px 25px 14px 25px;
	text-align: center;
	margin-left: 12px;
	text-decoration: none;
	white-space: nowrap;
	text-transform: uppercase;
}
/* Main page quick links by walleye Flex */
.clickerstyle {
	text-decoration: none;
	color: #69796c;
	font-size: 20px;
}
.flex {
	display: -ms-flexbox;
	-ms-flex-wrap: nowrap;
	-ms-flex-pack: justify;
	-ms-flex-align: stretch;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	-moz-align-items: stretch;
	-webkit-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
	color: black;
}
.flex.flex-3 .flex-item {
	-ms-flex: 0 1 auto;
	-ms-flex-preferred-size: 30%;
	-moz-flex-basis: 30%;
	-webkit-flex-basis: 30%;
	-ms-flex-basis: 30%;
	flex-basis: 30%;
}
.flex.flex-3 .flex-item.left {
	text-align: right;
}
@media screen and (max-width: 980px) {
.flex {
	-ms-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flex.flex-3 .flex-item {
	-ms-flex-preferred-size: 100%;
	-moz-flex-basis: 100%;
	-webkit-flex-basis: 100%;
	-ms-flex-basis: 100%;
	flex-basis: 100%;
}
}
/* Header */
#header {
	align-items: center;
	background: #69796c;
	cursor: default;
	height: 6em;
	left: 0;
	line-height: 6em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10001;
	text-align: center;
}
#header .logo {
	color: white;
	font-family: 'Abel', sans-serif;
	font-size: 2.5em;
	letter-spacing: 1px;
	text-decoration: none;
	display: inline-block;
}
#header nav {
	position: absolute;
	top: 0;
	height: inherit;
	line-height: inherit;
}
#header nav.left {
	left: 2em;
}
#header nav.right {
	right: 2em;
}
#header nav .button {
	padding: 0 2em;
	height: 3.25em;
	line-height: 3.25em;
}
#header nav a[href="#menu"] {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	font-size: 2em;
	color: #dee1e3;
	z-index: 10005;
	font-family: 'Abel', sans-serif;
}
#header nav a[href="#menu"]:before {
	content: "";
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'Abel', sans-serif;
	font-style: normal;
	font-weight: normal;
}
#header nav a[href="#menu"] span {
	display: none;
}
@media screen and (max-width: 980px) {
body {
	padding-top: 44px;
}
#header {
	height: 44px;
	line-height: 44px;
}
#header .logo {
	font-size: 1.25em;
	text-align: center;
}
#header nav a[href="#menu"] {
	font-size: 1.5em;
}
#header nav.left {
	left: 1em;
}
#header nav.right {
	display: none;
}
}
/* Menu */
#menu {
	background: #69796c;
	color: #ffffff;
	height: 100%;
	max-width: 80%;
	overflow-y: auto;
	padding: 3em 2em;
	font-size: 20px;
	position: fixed;
	font-family: 'Abel', sans-serif;
	left: 0;
	top: 0;
	letter-spacing: 1px;
	visibility: hidden;
	width: 20em;
	z-index: 10002;
}
#menu > ul.links {
	list-style: none;
	padding: 0;
}
#menu > ul.links > li > a:not(.button) {
	border: 0;
	border-top: solid 1px rgba(255, 255, 255, 0.25);
	color: inherit;
	display: block;
	line-height: 3.5em;
	text-decoration: none;
}
#menu .close {
	text-decoration: none;
	border: 0;
	color: white;
	cursor: pointer;
	display: block;
	height: 3.25em;
	line-height: 3.25em;
	padding-right: 1.25em;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
	vertical-align: middle;
	width: 7em;
}
#menu .close:before {
	content: "";
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
#menu.visible {
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	visibility: visible;
}
/* Banner */
#banner {
	padding: 14em 0 12em 0;
	background-image: url(/Users/rosienardulli/Desktop/fishingbanner.jpg);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	text-align: center;
}
#banner h1 {
	font-size: 3em;
	color: white;
	line-height: 1em;
	margin: 0 0 0.2em 0;
	font-family: 'Abel', sans-serif;
}
#banner p {
	font-size: 30px;
	margin-bottom: 1em;
	color: white;
	font-size: 1em;
}
@media screen and (max-width: 480px) {
#banner {
	padding: 4em 2em 2em 2em;
}
#banner h1 {
	font-size: 2em;
}
#banner .button {
	font-size: .9em;
}
}
body.is-loading #banner .content {
	opacity: 0;
	-moz-transform: translateY(1em);
	-webkit-transform: translateY(1em);
	-ms-transform: translateY(1em);
	transform: translateY(1em);
}
/* Main Responsiveness*/
@media screen and (max-width: 980px) {
#one .flex-item {
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
}
#one .flex-item.left br, #one .flex-item.right br {
	display: none;
}
#one .flex-item.left div p, #one .flex-item.right div p {
	margin-bottom: 2em;
}
}
/* Footer */
#footer {
	padding: 1em;
	background: #69796c;
	text-align: center;
	color: white;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	margin-top: 25px;
}



/*License Page */
img {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}
.fish {
	width: 25%;
	display: block;
    margin-left: auto;
	margin-right: auto;
	margin-top: -3px;
}
.dnrheader {
	color: #69796c;
	margin: 100px 0px 0px 0px;
	font-family: 'Abel', sans-serif;
	font-size: 45px;
	text-align: center;
	padding: 30px 10px 10px 10px;
}
.dnrsubheader {
	color: #69796c;
	font-family: 'Abel', sans-serif;
	font-size: 30px;
	text-align: center;
}
#content {
    font-size: 2em;
    width: 100%; 
    max-width: 960px;
    text-align: left;
    margin: 0px auto; 
	padding: 20px; 
}
.dnrcities {   
    -moz-column-width: 250px; 
    -webkit-column-width: 250px; 
	column-width: 250px;
	margin-top: -50px;
	text-align: center;
}
.dnrcities ul {
    margin: 0;
    padding: 0;
	list-style-type: none;
}
.city {
	text-decoration: none;
	color: black;
}
#footer-license {
	margin-top: 25px;
	padding: 2em;
	background: #69796c;
	text-align: center;
	color: white;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
}



/* Journal Entry Page */
.todaysentry {
	color: #69796c;
	margin: 100px 0px 0px 0px;
	font-family: 'Abel', sans-serif;
	font-size: 40px;
	text-align: center;
	margin-top: 50px;
}
#journal {
	background: #FFF;
	position: relative;
	margin: 0 auto;
	width: 500px;
	height: 250px;
	border:1px solid #ccc;
	border-radius:2px;
	margin-top: 300px;
}
button {
	background-color:#69796c;
    border-radius:4px;
	padding: 1% 5%;
	color:#FFF;
	font-family: 'Abel', sans-serif;
	letter-spacing: 2px;
}
button:hover{
	cursor: pointer;
	opacity: 0.7;
}
#upload{
	position: relative;
	top: -10px;
	left: 5px;
}
textarea{
	border:2px solid #CCC;
	background:#FFF;
	text-indent: 5px;
	width: 100%;
}
.comments{
	margin-left: 20%;
	margin-right: 20%;
	margin-top: -3%;
	text-align: center;
}
#submit{
	position: relative;
	top: 15px;
}
#entries{
    margin: 0 auto;
	text-align: center;
	color: black;
	font-size: 26px;
	margin: 10px;
}
#comment-feed {
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
#entries > ul{
	text-decoration: none;
	list-style-type: none;
	position: relative;
	text-align: center;
}
#entries > ul li{
	position: relative;
	text-align: left;
}
textarea {
	font-size: 15px;
	color: #69796c;
	width: 100%;
}
#content {
	font-size: 20px;
}
#first-entry {
	color: #69796c;
	font-size: 18px;
	border:2px solid #CCC;
	height: 200px;
	text-align: center;
	margin-top: 10px;
	overflow: scroll;
	margin-left: 12%;
	margin-right: 15%;
	text-align: center;
	width: 670px;
}
ul {
	width: 100%;
}


/* Weather Page */
h1, h2, h3, span {
	margin: 0;
}
h1 {
	font-size: 8rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 3rem;
}
span {
	font-size: 6rem;
}
.containerweather {
	max-width: 500px;
	height: 60vh;
	border: 3px solid #69796c;;
	margin: -5px auto;
	display: grid;
	grid-template-rows: 20% 80%;
	text-align: center;
	padding: 25px 5px;
	color: #69796c;
	font-family: 'Abel', 'sans-serif';
	margin-bottom: 50px;
}
.degrees {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	margin-left: 2rem;
}
